body {
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (max-width: 979px) {
  body {
    padding-top: inherit;
  }
}
a.rss,
a.rss:hover {
  text-decoration: none;
}

/* SIDEBAR */
.sidebar {
  border-left: 1px dotted #cecece;
  padding-left: 1em;
}
.sidebar aside {
  margin-bottom: 1.5em;
}

/* INDEX PAGE */
ul.post-list {
  paddig: 0;
  margin: 0;
}
a.expanding-link {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
a.expanding-link:hover {
  background-color: transparent;
}
.post-list > .post {
  position: relative;
  display: inline-block;
  padding: 1em 1.5em;
  margin: 0 1em 1em 0;
  width: 15em;
  height: 12em;
  overflow: hidden;
}
.post-list > .post:last-child {
  margin-right: 0;
}

/* PAGES & POSTS */
.page,
.post{
  margin-right: 25%;
}
@media (max-width: 767px) {
  .page,
  .post{
    margin-right: 0;
  }
}
.page header,
.post header {
  margin-bottom: 1em;
}
article footer {
  margin: 2em 0;
}
a[href="#top"] {
  display: inline-block;
  clear: both;
  margin: 3em 0;
}
a[href="#top"]:after {
  content: ' \21E7';
}
