<aside class="author-about">
  <h4>About {{ site.author }}</h4>
  <p>I'm a Web Developer in San Francisco</p>
</aside>
<aside class="social">
  <ul class="nav nav-list">
    <li class="nav-header">Social</li>
    <li><a href="#">Stack Overflow</a></li>
    <li><a href="#">Github</a></li>
    <li><a href="#">Twitter</a></li>
  </ul>
</aside>
<aside class="archives">
  <ul class="nav nav-list">
    <li class="nav-header">Archives</li>
    <li><a href="#">Jan 2012</a></li>
    <li><a href="#">Dec 2011</a></li>
    <li><a href="#">Nov 2011</a></li>
    <li><a href="#">Oct 2011</a></li>
  </ul>
</aside>
<aside class="tweets">
  <!--tweets-->
  {% include tweets.html %}
  <!--/tweets-->
</aside>
<!--Other optional links-->
<!--<aside class="">-->
  <!--<ul class="nav nav-list">-->
    <!--<li class="nav-header">Sidebar</li>-->
    <!--<li><a href="#">Link</a></li>-->
    <!--<li><a href="#">Link</a></li>-->
    <!--<li class="nav-header">Sidebar</li>-->
    <!--<li><a href="#">Link</a></li>-->
    <!--<li><a href="#">Link</a></li>-->
  <!--</ul>-->
<!--</aside>-->
